<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css.map">
  <link rel="stylesheet" href="stylesheets/magicminer.css">
  <script src="js/underscore-min.js"></script>
  <title>Magic Miner</title>
</head>
<body>
<div id="magicminerApp" class="container text-center">
  <h1>Magic Miner</h1>
  <div class="algorithms">
    <div>
      <hr>
      <select v-model="selectedAlgorithm">
        <option v-for="algorithm in ['Constant', 'Random', 'Genetic']" v-bind:value="algorithm">{{algorithm}}</option>
      </select>
      Seed: <input v-model="algorithmSeed" type="number">
      <button v-on:click="runAlgorithm()">Executar</button>
      <hr>
    </div>
  </div>
  <div class="gabarito">
    <table class="gameListTable table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <th>#</th>
          <th>Data</th>
          <th v-bind:colspan="selectedGameTableLock ? '1' : '25'">Gabarito:
            <select v-if="selectedGameTableLock" v-bind:value="selectedGameTableId" v-on:input="updateSelectedTable($event.target.value)">
              <option v-for="gameTable in gameTableList" v-bind:value="gameTable.gameTableId">{{gameTable.name}}</option>
            </select>
            <input v-on:input="updateSelectedGameTableName($event.target.value)" v-bind:value="selectedGameTableName" type="text" v-if="!selectedGameTableLock">
            <img v-on:click="lockUnlockSelectedTable()" class="icon" v-bind:src="selectedGameTableLock ? 'img/lock.png':'img/unlock.png'"/>
            <img v-on:click="newBlankTable()" class="icon" src="img/table.png"/>
          </th>
          <th>Algoritmo</th>
        </tr>
        <tr v-for="(gameNumber, index) in gameNumberList"
            v-bind:class="{odd: index %2 == 1, editing: (!selectedGameTableLock), valid: (isGameValid(gameByGameNumber[gameNumber.gameNumber])), invalid: (!isGameValid(gameByGameNumber[gameNumber.gameNumber]))}">
          <td>{{gameNumber.gameNumber}}<span v-if="isGameValid(gameByGameNumber[gameNumber.gameNumber])">&#10003;</span></td>
          <td>{{gameNumber.gameDate}}</td>
          <td v-if="selectedGameTableLock">
            <span v-for="i in _.range(0, 25)" v-if="!isNullOrUndefined(gameByGameNumber[gameNumber.gameNumber])">{{gameByGameNumber[gameNumber.gameNumber].ballsCompressed[i] == "1" ? ""+(i+1)+"&nbsp;" : ""}}</span>
          </td>
          <td v-bind:class="{ball: true, selected: !isNullOrUndefined(gameByGameNumber[gameNumber.gameNumber]) && gameByGameNumber[gameNumber.gameNumber].ballsCompressed[i] == '1', notSelected: !isNullOrUndefined(gameByGameNumber[gameNumber.gameNumber]) && gameByGameNumber[gameNumber.gameNumber].ballsCompressed[i] == '0' }"
              v-if="!selectedGameTableLock"
              v-for="i in _.range(0, 25)"
              v-on:click="updateBall(gameByGameNumber[gameNumber.gameNumber], i)">
            <span>{{i+1}}</span>
          </td>
          <td>
            <span v-if="generatedResultByGameNumber[gameNumber.gameNumber] != null">
              <span v-for="i in _.range(0, 25)">{{generatedResultByGameNumber[gameNumber.gameNumber].ballsCompressed[i] == "1" ? ""+(i+1)+"&nbsp;" : ""}}</span>
              <span>({{generatedResultByGameNumber[gameNumber.gameNumber].score}} acertos)</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="js/magicminer.js"></script>
</body>
</html>